/*
*Style sheet
*/

 

 h1 {
color:#EF0A09;
text-align:center;
margin-bottom:35px;
font-size:48px;
font-family:'calibri';
}
 h3 {
color:#EF0A09;
text-align:center;
font-size:18px;
font-family:'calibri';
}
 p {
font-size:12px;
color:black;
padding-right:8px;
padding-top:6px;
font-family:'calibri';
}
a:link {
    color: red;
text-decoration: none;
}
a:visited {
    color: red;
text-decoration: none;
}
a:hover {
    color: maroon;
text-decoration: none;
}
a:active {
     color: red;
text-decoration: none;
}
.buttonA {
    padding: 5px 5px;
    width: 140px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    margin: .75% .75%;
    cursor: pointer;
}

.button1 {
    background-color: #f9f9f9; 
    color: black; 
    border: 3px solid #bbbbbb;

}
span {
  visibility: hidden;
}
 span:hover{
  visibility: visible;
 }
   
.button1:hover {
    background-color: #EF0A09;
    color: white;
}

